.button {
	font-size: 1.5rem;
	background-color: #181818;
	outline: none;
	border: 1px solid white;
	color: white;
	padding: 0.5rem 1rem;
	border-radius: 10px;
}

.button:hover {
	color: #181818;
	background-color: white;
	border: 1px solid white;
}