.expense-date {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  font-size: 1rem;
  font-weight: bold;
  background-color: #3F3F3F;
  padding: 1rem;
  border-radius: 10px;
  width: 90px;
  color: #f1f1f1;
}

.expense-date > div:nth-child(2) {
  font-size: 0.75rem;
  font-weight:100;
}

.expense-date > div:last-child {
  font-size: 2rem;
}