* {
	box-sizing: border-box;
}

html {
	font-family: sans-serif;
	background-color: #181818;
}

body {
	margin: 0;
}

.basic-input {
	font-size: 1.2rem;
	padding: 0.3rem;
	outline: none;
	border: none;
	border-bottom: 1px solid white;
	background: none;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 0.7rem;
}

.basic-input:focus {
	background: #252525;
}

.test2 {
	outline: 1px solid white;
}
